<div 
    class="FileDropArea" 
    [ngClass]="{
        'FileDropArea--over': states.isOver,
        'FileDropArea--fileLoaded': states.isFileLoaded,
        'FileDropArea--validationError': ngForm && ngForm.submitted && ngControl.invalid
    }" 
    (drop)="onDrop($event)" 
    (dragover)="onDragOver($event)"
    (dragenter)="onDragEnter($event)" 
    (dragleave)="onDragLeave($event)"
>
    <ng-container *ngIf="!states.isFileLoaded && !states.isInvalidFile">
        <div class="FileDropArea-icon" [inlineSVG]="'/assets/svg/copy.svg'"></div>
        <div class="FileDropArea-title">Drag & drop your file</div>
        <div class="FileDropArea-divider">or</div>
        <idena-button class="secondary FileDropArea-button" (click)="fileinput.click()">upload file</idena-button>
    </ng-container>
    <ng-container *ngIf="states.isFileLoaded">
        <div class="FileDropArea-successIcon" [inlineSVG]="'/assets/svg/success.svg'"></div>
        <div class="FileDropArea-title">Ready!</div>
        <div class="FileDropArea-subtitle">File successfully uploaded</div>
        <div class="FileDropArea-cancel" (click)="reset()">
            <span class="FileDropArea-cancelIcon" [inlineSVG]="'/assets/svg/cancel.svg'"></span>
            cancel file
        </div>
    </ng-container>
    <ng-container *ngIf="!states.isFileLoaded && states.isInvalidFile">
        <div class="FileDropArea-icon" [inlineSVG]="'/assets/svg/error.svg'"></div>
        <div class="FileDropArea-title"><span class="FileDropArea-title--error">Invalid file.</span> Try again.</div>
        <div class="FileDropArea-divider">or</div>
        <idena-button class="secondary FileDropArea-button" (click)="fileinput.click()">upload file</idena-button>
    </ng-container>
    <input #fileinput type="file" class="FileDropArea-hiddenInput" (change)="onFile()">
</div>
<form-field-error [control]="ngControl" class="FileDropArea-errors"></form-field-error>