@import "variables";
@import "mixins";

:host {
    display: block;
}

.FileDropArea {
    @include response-rule(width, 100%, ($mw1024: 502px));
    @include response-rule(padding, 25px, ($mw1024: 30px));
    background-color: #f9f9fb;
    border: 1px dashed #C2C4DA;
    @include response-rule(border-radius, 15px, ($mw1024: 35px));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in;

    &--fileLoaded {
        color: #fff;
        background: linear-gradient(94.84deg, #81B0EF 1.72%, #38D6D1 98.38%);
        .FileDropArea-title {
            margin-bottom: 0;
        }
    }

    &--validationError {
        border-color: $error;
    }

    &--over {
        background-color: #f0f0f6;
    }

    &-icon {
        @include response-rule(height, 35px, ($mw1024: 40px));
        @include response-rule(margin-bottom, 15px, ($mw1024: 20px));
    }

    &-title {
        @include response-rule(font-size, 15, ($mw1024: 16px));
        @include response-rule(line-height, 18px, ($mw1024: 20px));
        text-align: center;
        @include response-rule(margin-bottom, 10px, ($mw1024: 5px));
    }

    &-title--error {
        color: $error;
    }

    &-divider {
        @include response-rule(display, none, ($mw1024: block));
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 5px;
    }

    &-successIcon {
        width: 40px;
        @include response-rule(margin-bottom, 10px, ($mw1024: 20px));
    }

    &-subtitle {
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
    }

    &-button {
        width: 154px;
        height: 40px;
        font-size: 12px;
    }

    &-hiddenInput {
        display: none;
    }

    &-cancel {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-weight: 500;
        font-size: 12px;
        color: #fff;
        text-transform: uppercase;
        margin-top: 20px;
        cursor: pointer;
    }

    &-cancelIcon {
        width: 11px;
        margin-right: 5px;
    }
}