@import "mixins";
@import "variables";

.Header {
    background-color: rgb(79, 94, 116);
    border-bottom: 2px solid #59caff;
    margin-bottom: 10px;

    &-middle {
        display: flex;
        justify-content: center;
    }

    &-table {
        color: white;
        padding: 0.5rem;
        display: grid;
        border: 2px solid white;
        height: 57px;
        width: 180px;
        align-content: center;
        justify-content: center;
    }

    &-table0 {
        display: flex;
    }

    &-table1 {
        color: white;
        display: flex;
        align-content: center;
        justify-content: center;
    }

    &-red {
        color: red;
    }

    &-blueFont {
        color: blue;
    }

    &-SVG {
        display: flex;
        height: 16px;
        width: 16px;

        &::ng-deep path {
            fill: black;
        }

        &-verification {
            height: 16px;
            width: 16px;

            &::ng-deep path {
                fill: #7275de;
            }
        }

        &-rework {
            height: 16px;
            width: 16px;

            &::ng-deep path {
                fill: #eeb616;
            }
        }

        &-done {
            height: 16px;
            width: 16px;

            &::ng-deep path {
                fill: white;
            }
        }
    }

    &-workSteps {
        margin: 10px;
        width: 380px;
        background-color: white;
        padding: 25px;
        font-size: 10px;
        text-transform: uppercase;
    }

    &-workStep {
        position: relative;
        padding: 0 0 20px 0;
    }

    &-line {
        display: flex;
        font-weight: bold;
        margin-left: 8px;
        letter-spacing: 0.2em;
        font-family: Montserrat, sans-serif;
        align-items: center;
        &--verification {
            color: #7275de;
        }

        &--rework {
            color: #eeb616;
        }

        &--done {
            color: #58bab3;
        }
    }

    &-date {
        margin: 10px 0 0 20px;
        color: grey;
    }

    &-row {
        display: flex;


        &--verification {
            color: #7275de;
        }

        &--rework {
            color: #eeb616;
        }

        &--done {
            color: #58bab3;
        }
    }

    &-circle {
        height: 10px;
        width: 10px;
        border: 2px solid black;
        border-radius: 50%;

        &--verification {
            border: 2px solid #7275de;
        }

        &--rework {
            border: 2px solid #eeb616;
        }

        &--done {
            border: 2px solid #58bab3;
        }
    }

    &-statusLine {
        position: absolute;
        top: 10px;
        left: 4px;
        height: calc(100% - 10px);
        width: 2px;
    }

    &-2ndString {

        &--verification {
            border-left: 2px solid #7275de;
        }

        &--rework {
            border-left: 2px solid #eeb616;
        }

        &--done {
            border-left: 2px solid #58bab3;
        }
    }
}
