<button
    class="Btn"
    [disabled]="isDisabled"
    [ngClass]="{'Btn--loading': isLoading}"
    [attr.type]="btnType !== 'submit' ? 'button' : 'submit' "
    [ngStyle]="{pointerEvents: isDisabled ? 'none' : 'initial'}"
>
    <span><ng-content></ng-content></span>
</button>