@import "variables";
@import "mixins";

:host {
    display: block;
    outline: none;
    @include response-rule(
        height,
        50px,
        (
            $mw1024: 70px,
        )
    );
    @include response-rule(
        font-size,
        12px,
        (
            $mw1024: 16px,
        )
    );
}

.Btn {
    display: block;
    width: 100%;
    border: none;
    background-color: #fff;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-align: center;
    border-radius: 35px;
    height: 100%;
    padding: 0 10px;
    font-size: inherit;
    cursor: pointer;
    transition: all 0.2s ease-in;
    outline: none;
    position: relative;
    overflow: hidden;

    &:after {
        content: "";
        position: absolute;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        top: calc(50% - 6px);
        left: calc(50% - 6px);
        opacity: 0;
        transition: all 0.2s ease-in;
        animation: move 2s infinite 0.2s;
        background-color: #fff;
        box-shadow: none;
        z-index: 10;

        @keyframes move {
            0% {
                tranform: translateX(0);
            }
            25% {
                transform: translateX(50px);
            }
            50% {
                transform: translateX(0);
            }
            75% {
                transform: translateX(-50px);
            }
            100% {
                transform: translateX(0);
            }
        }
    }

    &--loading {
        color: transparent !important;
        pointer-events: none;
        &:after {
            opacity: 1;
        }
    }
}

:host-context(.primary) {
    .Btn {
        position: relative;
        background: linear-gradient(99.2deg, #38d6d1 1.72%, #81b0ef 98.38%);
        color: #fff;
        box-shadow: none;
        span {
            position: relative;
            z-index: 3;
        }
        &::before {
            content: "";
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            position: absolute;
            background: linear-gradient(99.2deg, #81b0ef 1.72%, #38d6d1 98.38%);
            z-index: 2;
            opacity: 1;
            transition: 0.5s;
        }
        &:hover {
            box-shadow: 0 20px 30px rgba(129, 176, 239, 0.5);
            &::before {
                opacity: 0;
            }
        }

        &:active {
            box-shadow: inset 0px 7px 15px rgba(68, 71, 107, 0.25);
        }
        &[disabled] {
            background: #c2cdda;
        }
    }
}

:host-context(.secondary) {
    .Btn {
        border: 2px solid #38d6d1;
        color: #38d6d1;

        &:after {
            background-color: #38d6d1;
        }

        &:hover {
            border: 4px solid #81b0ef;
            color: #81b0ef;
        }

        &:active {
            border-color: #696c97;
            color: #44476b;
        }

        &[disabled] {
            border-color: #c2c4da;
            color: #c2c4da;
        }
    }
}

:host-context(.secondary--dark) {
    .Btn {
        background-color: transparent;
    }
}

:host(.buttonCorrection) {
    .Btn {
        height: 60px;
        background: linear-gradient(99.2deg, #ac60ca 1.72%, #b34264 98.38%);

        &::before {
            content: "";
            background: linear-gradient(99.2deg, #74a9e6 1.72%, #c55fc5 98.38%);
        }
        &:hover {
            box-shadow: 0 5px 10px rgba(129, 176, 239, 0.5);
            color: rgb(0, 0, 0);
            &::before {
                opacity: 0;
                transition: 1s;
            }
        }
    }
}

:host(.buttonCorrectionDisabled) {
    .Btn {
        &::before {
            background: linear-gradient(99.2deg, #979797 1.72%, #292929 98.38%);
        }
    }
}

:host(.buttonCorr) {
    .Btn {
        height: 45px;
        width: 180px;
        color: #8386e2;
        font-size: 11px;
        font-weight: bold;
        border: 1px solid #8386e2;
        margin: 5px 120px 0 0;

        &:after {
            background-color: #aa73c0;
        }

        &:active {
            border-color: #563864;
            color: #312b2f;
        }

        &::before {
            content: "";
            background: white;
        }
        &:hover {
            box-shadow: 0 5px 10px rgba(193, 10, 230, 0.5);
            color: rgb(55, 0, 82);
            border: 1px solid #d0229e;
            &::before {
                opacity: 0;
                transition: 1s;
            }
        }
        
        &[disabled] {
            border-color: #c2c4da;
            color: #c2c4da;
        }
    }
}

:host(.buttonCor) {
    .Btn {
        height: 45px;
        width: 165px;
        color: black;
        font-size: 11px;
        font-weight: bold;
        margin: 10px 0 0 0;

        &::before {
            content: "";
            background: #fbd526;
        }

        &:hover {
            box-shadow: 0 5px 10px rgba(255, 132, 0, 0.5);
            color: rgb(0, 0, 0);

            &::before {
                opacity: 0;
                transition: 1s;
            }
        }
    }
}

:host(.buttonCorrDisabled) {
    .Btn {
        height: 45px;
        width: 180px;
        color: white;
        background: grey;
        font-size: 11px;
        font-weight: bold;
        border: none;
        margin: 5px 460px 0 0;

        &:after {
            background-color: grey;
        }

        &:active {
            color: white;
        }

        &::before {
            content: "";
            color: white;
            background: grey;
        }

        &:hover {
            box-shadow: none;
            color: white;
            border: none;
            &::before {
                opacity: 0;
                transition: 1s;
            }
        }
        
        &[disabled] {
            border-color: #c2c4da;
            color: #c2c4da;
        }
    }
}

:host(.buttonReadMore) {
    .Btn {
        height: 45px;
        width: 100px;
        color: black;
        font-size: 8px;
        font-weight: bold;
        margin: 10px 0 0 0;

        &:after {
            background-color: #aeaeae;
        }

        &:active {
            border-color: #aba0af;
            color: #ffffff;
        }

        &::before {
            content: "";
            background: rgb(100, 160, 132);
        }
        &:hover {
            box-shadow: 0 5px 10px rgba(104, 104, 104, 0.5);
            color: rgb(55, 0, 82);
            border: 1px solid #d0229e;
            &::before {
                opacity: 0;
                transition: 1s;
            }
        }
    }
}