<div class="Slider">
  <div class="Slider-arrow Slider-arrow--left" [hidden]="currentPage === 0" [inlineSVG]="'/assets/svg/arrow-left.svg'" (click)="prev();"></div>
  <div class="Slider-arrow Slider-arrow--right" [hidden]="currentPage === lastPage" [inlineSVG]="'/assets/svg/arrow-right.svg'" (click)="next();"></div>
  <div class="Slider-container" [@itemsContainer]="trigger" (@itemsContainer.done)="update($event)"  (swiperight)="prev()" (swipeleft)="next();">
      <ng-container *ngFor="let item of items; let $index = index">
        <ng-container *ngIf="visiblityFlags[$index]">
          <ng-container *ngTemplateOutlet="itemTpl; context: {$implicit: item}"></ng-container>
        </ng-container>
      </ng-container>
  </div>

  <div class="Slider-pointsBlock" *ngIf="pointsBlock">
    <div
      (click)="goToPage($index)"
      class="Slider-point"
      *ngFor="let point of pagePoints; let $index = index;"
      [ngClass]="{'Slider-point--active': $index === currentPage}"
    ></div>
  </div>

  <div class="Slider-seo">
    <ng-container  *ngFor="let item of items; let $index = index">
      <ng-container *ngTemplateOutlet="itemTpl; context: {$implicit: item}"></ng-container>
    </ng-container>
  </div>
</div>