@import "./src/styles/variables";
@import "./src/styles/mixins";

.Slider {
    position: relative;

    &-container {
        display: flex;
        justify-content: center;
        margin: 0px 0px;
        @include breakpoint($mw1024) {
            margin: 0 50px;
        }
    }

    &-arrow {
        width: 15px;
        height: 15px;
        position: absolute;
        top: 40%;
        cursor: pointer;
        transition: all .3s ease-in;
        // видны только на планшетах и выше
        display: none;
        @include breakpoint($mw1024) {
            display: block;
        }
        &:hover {
            transform: scale(1.1);
        }
    }

    &-arrow--left {
        left: 0;
    }

    &-arrow--right {
        right: 0;
    }

    &-pointsBlock {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        @media #{$mw1024} {
            margin-top: 50px;
        }
    }

    &-point {
        position: relative;
        width: 8px;
        height: 8px;
        transition: .4s;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #C2C4DA;
        border-radius: 4px;
        margin-right: 8px;

        &:before {
            display: block;
            content: '';
            width: 8px;
            height: 8px;
            background: #C2C4DA;
            border-radius: 4px;
            transition: .4s;
        }
    }

    &-point--active {
        width: 24px;
        transition: .4s;
        &:before{
            width: 24px;
            height: 8px;
            background: #38D6D1;
            border-radius: 4px;
        }
    }

    &-seo {
        position: absolute;
        clip: rect(0 0 0 0);
        width: 0;
        height: 0;
        overflow: hidden;
    }
}

:host-context(.Benefits-slider) {
    .Slider {
        &-arrow {
            /deep/ svg path {
                fill: #fff;
            }
        }

        &-point {
            &:before {
                background-color: #fff;
            }
        }

        &-point--active {
            &:before {
                background-color: #ffd63d;
            }
        }
    }
}

:host(.dashbord){
    .Slider-arrow{
        top: 12px;
        width: 11px;
        height: 11px;
        /deep/ svg{
            width: 100%;
        }
    }
    .Slider-arrow--left{
        left:25px;
    }
    .Slider-arrow--right{
        right: 25px;
    }
    .Slider-container{
        margin: 0 25px;
    }
    .Slider-pointsBlock{
        margin-top: 0;
        position: absolute;
        top: 25px;
        left: 48px;
    }
}

:host(.news){
    .Slider-container{
        justify-content: space-between;
        margin: 0;
    }
    .Slider-arrow{
        display: none;
        @include breakpoint($mw1024) {
            display: block;
        }
        width: 30px;
        height: 30px;
        /deep/ svg{
            width: 100%;
        }
    }
    .Slider-arrow--left{
        left: -15px;
        z-index: 99;
    }
    .Slider-arrow--right{
        right: -15px;
        z-index: 99;
    }
}