@import "variables";
@import "modal-dialog";
@import "ngx-toastr-ui";

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url("/assets/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url("/assets/fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url("/assets/fonts/Montserrat-Light.ttf") format("truetype");
}


.Link {
    text-transform: uppercase;
    color: $link;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    transition: all .2s ease-in;
    &:hover{
        color: #81B0EF;
    }
}

svg {
    width: 100%;
    height: 100%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
}