@mixin response-rule($property, $defaultValue, $responsiveValues: ()) {
    @if $defaultValue {
      & {
        #{$property}: $defaultValue;
      }
    }
    @else {
      & {
        #{$property}: map-get($responsiveValues, "default");
      }
    }
    @each $media,
    $value in $responsiveValues {
      @if $media !="default" {
        @media #{$media} {
          & {
            #{$property}: $value;
          }
        }
      }
    }
  }

  @mixin breakpoint($breakepoint) {
    @media #{$breakepoint} {
      @content ;
    }
  }

  @mixin placeholder-color($color) {
    @at-root{
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $color;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: $color;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: $color;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: $color;
      }  
    }
  }