@import "variables";
@import "mixins";

.cdk-overlay-pane {
    width: 100vw;
    max-width: 100vw !important;
    @include breakpoint($mw1024) {
      max-width: 80vw !important;
      width: auto;
    }
}

.mat-dialog-container {
    padding: 0 !important; 
}
  


.Modal {
    background: radial-gradient(50% 112.5% at 50% 0%, #696C97 0%, #44476B 100%);
    @include response-rule(width, 100%, ($mw1024: 800px));
    height: auto;
    @include response-rule(min-height, 100vh, ($mw1024: auto));
    @include response-rule(border-radius, 0, ($mw1024: 35px));
    @include response-rule(padding, 50px 10px, ($mw1024: 50px));
    color: #fff;
    position: relative;

    &-title {
        @include response-rule(font-size, 21px, ($mw1024: 27px));
        @include response-rule(line-height, 26px, ($mw1024: 33px));
        text-align: center;
        margin-bottom: 10px;
        font-weight: 500;
    }

    &-subtitle {
        font-weight: 300;
        @include response-rule(font-size, 14px, ($mw1024: 18px));
        @include response-rule(line-height, 17px, ($mw1024: 22px));
        text-align: center;
    }

    &-close {
        position: absolute;
        top: 20px;
        right: 20px;
        @include response-rule(width, 30px, ($mw1024: 40px));
        @include response-rule(height, 30px, ($mw1024: 40px));
        cursor: pointer;
        border: 2px solid rgb(194, 196, 218);
        border-radius: 50%;
        &:before, &:after {
            content: '';
            display: block;
            transition: top .15s .17s, transform .12s .033s;
            width: 50%;
            height: 2px;
            background: rgb(194, 196, 218);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%) rotate(0);
        }
        &:hover{
            &:before,&:after {
                transform: translate(-50%) rotate(225deg);
                transition: top .1s, transform .17s .1s;
            }
            &:before {
                transform: translate(-50%) rotate(135deg);
                transition: top .1s, transform .17s .1s;
            }
        }
    }
}