@import "variables";
@import "mixins";

.toast-container {

    .ngx-toastr {
        background-size: auto;
        box-shadow: none;
        @include response-rule(font-size, 12px, ($mw1024: 16px));
        @include response-rule(line-height, 45px, ($mw1024: 80px));
        font-family: Montserrat, sans-serif;
        font-weight: normal;
        @include response-rule(width, 300px !important, ($mw1024: 435px !important));
        @include response-rule(height, 45px, ($mw1024: 80px));
        @include response-rule(padding, 0 20px 0 50px, ($mw1024: 0 30px 0 80px));
        position: relative;
        &:before {
            display: block;
            content: '';
            @include response-rule(width, 25px, ($mw1024: 40px));
            @include response-rule(height, 25px, ($mw1024: 40px));
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            @include response-rule(top, 10px, ($mw1024: 20px));
            @include response-rule(left, 15px, ($mw1024: 20px));
            position: absolute;
        }
    }
    
    .toast-success {
        background: linear-gradient(100.64deg, #81B0EF 1.72%, #38D6D1 98.38%);
        &:before {
            background-image: url('/assets/svg/success.svg');
        }
    }

    .toast-error {
        background: #D63884;
        &:before {
            background-image: url('/assets/svg/close-cross.svg');
        }
    }
}
