$mw1024: "(min-width: 1024px)";
$mw1280: "(min-width: 1280px)";

$text-highlight:    #44476B;
$text:              #696C97;
$bg-grey:           #c2c4da;
$blue-gradient:       linear-gradient(96.78deg, #81B0EF 1.72%, #38D6D1 98.38%);
$gradient-hover:      linear-gradient(276.78deg, #81B0EF 1.62%, #38D6D1 98.28%);
$link:              #38D6D1;
$link-hover:        #81B0EF;
$gray:              #F6F6F9;
$error: #d63884;


// controls
$control-default-divider: #e0e1ec;
$control-active-divider: #c2c4da;
$control-success-divider: #38d6d1;
$control-error-divider: #d63884;
$control-disabled-divider: #dcddea;

$control-default-border-color: #efeff6;
$control-active-border-color: #cacbdf;
$control-error-border-color: #d63884;

$control-label-color: #e0e1ec;
$control-value-color: #696C97;
$control-valud-disabled-color: #c2c4da;
$control-value-error-color: #d63884;


