@import "variables";
@import "mixins";

.FormFieldErrors {
    font-size: 10px;
    color: $control-value-error-color;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 300;
    @include response-rule(padding-left, 15px, ($mw1024: 25px));
}