@import "./src/styles/variables";
@import "./src/styles/mixins";

.IdenaLanding {
    width: 100%;
    position: relative;
    overflow: hidden;

    &-backgroundOpacity {
        position: absolute;
        width: 1122.79px;
        height: 1075.7px;
        background-color: #F2F7FD;
        left: calc(50vw - 1428px);
        top: -346.78px;
        z-index: 0;
        border-radius: 35px;
        transform: rotate(58deg);
        @include response-rule(display, none,($mw1024: block));
        &--down {
            top: 856.92px;
            left: calc(50vw + 497px);
        }
    }

    &-backgroundBlue {
        position: absolute;
        width: 938px;
        height: 988px;
        background: linear-gradient(91.88deg, #81B0EF 1.72%, #38D6D1 98.38%);
        z-index: 0;
        @include response-rule(left, calc(50vw - 377px),($mw1024: calc(50vw - 84px)));
        @include response-rule(top, -571.89px,($mw1024: -423.89px));
        border-radius: 35px;
        transform: rotate(58deg);
    }

    &-container {
        position: relative;
        @include response-rule(width, 100%,($mw1024: 1024px));
        @include response-rule(max-width, 360px,($mw1024: 1024px));
        margin: 0 auto;
        @include response-rule(padding, 0 10px,($mw1024: 0 20px));
        z-index: 1;
    }

    &-logo {
        position: relative;
        @include response-rule(top,30px,($mw1024: 40px));
        margin: 0px auto;
        align-items: center;
        width: fit-content;
        @include response-rule(height,49px,($mw1024: 75px));
        &::ng-deep svg {
            height: 100%;
        }
    }

    &-topBlock {
        display: flex;
        @include response-rule(flex-direction,column,($mw1024: row));
        @include response-rule(margin-top, 50px,($mw1024: 0));
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &-leftTitle {
        @include response-rule(font-size,24px,($mw1024: 36px));
        @include response-rule(line-height,29px,($mw1024: 44px));
        @include response-rule(text-align, center,($mw1024: start));
        color: $text-highlight;
        letter-spacing: 0.02em;
        font-weight: 500;
        margin-bottom: 10px;
    }

    &-leftDescription {
        @include response-rule(font-size,14px,($mw1024: 20px));
        @include response-rule(line-height,17px,($mw1024: 24px));
        letter-spacing: 0.02em;
        @include response-rule(color, white,($mw1024: $text));
        @include response-rule(width, 100%,($mw1024: 415px));
        @include response-rule(font-weight, 300,($mw1024: 400));
        @include response-rule(text-align, center,($mw1024: start));
        @include response-rule(margin-bottom, 12px,($mw1024: 30px));
    }

    &-headBtn {
        @include response-rule(height, 35px,($mw1024: 50px));
        @include response-rule(width, calc(100% - 93px),($mw1024: 328px));
        @include response-rule(margin, 0 auto,($mw1024: 0));
        font-weight: 300;
        color: $text;
        @include response-rule(background-color, rgba(255, 255, 255, 0.5),($mw1024: $bg-grey));
        @include response-rule(font-size,11px,($mw1024: 18px));
        @include response-rule(line-height,35px,($mw1024: 50px));
        text-align: center;
        letter-spacing: 0.02em;
    }

    &-rightHeaderPhoto {
        @include response-rule(width, 250px,($mw1024: 502px));
        @include response-rule(height, 196px,($mw1024: 394px));
        background-image: url('/assets/images/img-top.png');
        background-size: contain;
        @include response-rule(margin-top, 20px,($mw1024: 0px));
    }

    &-accessItems {
        display: flex;
        justify-content: space-between;
        @include response-rule(flex-direction,column,($mw1024: row));
        align-items: flex-start;
        width: 100%;
        @include response-rule(margin-top, 120px,($mw1024: 19px));
    }

    &-accessItem {
        width: 100%;
        @include response-rule(max-width, 100%,($mw1024: 502px));
        display: flex;
        @include response-rule(flex-direction, column,($mw1024: row));
        justify-content: flex-start;
        @include response-rule(align-items, center,($mw1024: flex-start));
        box-shadow: 0px 20px 30px rgba(105, 108, 151, 0.25);
        @include response-rule(border-radius, 15px,($mw1024: 35px));
        @include response-rule(padding, 30px 25px,($mw1024: 30px 30px 30px 57px));
        position: relative;
        color: $text-highlight;
        transition: transform 0.5s ease-out;
        background-color: white;
        outline: none;
        &:first-child {
            @include response-rule(margin, 0 0 20px 0,($mw1024: 0 20px 0 0));
            background-color: $text-highlight;
            color: white;
        }

        &:hover {
            transform: translateY(-10px);
        }
    }

    &-accessIcon {
        @include response-rule(margin-right, 0,($mw1024: 57px));
        @include response-rule(width, 36px,($mw1024: 60px));
        @include response-rule(min-width, 36px,($mw1024: 60px));
        height: fit-content;
        &::ng-deep svg {
            width: 100%;
            height: auto;
        }
    }

    &-accessTitle {
        font-weight: 500;
        @include response-rule(font-size, 21px,($mw1024: 27px));
        @include response-rule(line-height, 26px,($mw1024: 33px));
        letter-spacing: 0.02em;
        @include response-rule(text-align, center,($mw1024: start));
        @include response-rule(margin-bottom, 10px,($mw1024: 11px));
        @include response-rule(margin-top, 15px,($mw1024: 0px));
    }

    &-accessText {
        @include response-rule(font-size, 14px,($mw1024: 18px));
        @include response-rule(line-height, 17px,($mw1024: 22px));
        @include response-rule(text-align, center,($mw1024: start));
        font-weight: 300;
        @include response-rule(height, initial,($mw1024: 64px));
        letter-spacing: 0.02em;

        &--inWhite {
            color: $text;
            line-height: 23px;
        }
    }

    &-btn {
        @include response-rule(display, none,($mw1024: block));
        width: 241px;
        margin-top: 25px;
    }

    &-somePoints {
        width: 100%;
        @include response-rule(margin, 70px 0px,($mw1024: 100px 0px));
    }

    &-point {
        display: flex;
        justify-content: center;
        @include response-rule(flex-direction, column,($mw1024: row));
        align-items: center;
        width: 100%;
        @include response-rule(margin-bottom, 40px,($mw1024: 50px));
        &:last-child {
            margin-bottom: 0px;
        }

        &:hover {
            transition: all 1s ease-in-out;
            .IdenaLanding-triangle {
                transition: all 0.3s ease-in-out;
                @include response-rule(transform, rotate(90deg),($mw1024: translateX(10px)));
            }
        }

        &:nth-child(even) {
            @include response-rule(flex-direction, column-reverse,($mw1024: row));

            .IdenaLanding-pointText {
                @include response-rule(text-align, center,($mw1024: end));
            }
            .IdenaLanding-triangle {
                @include response-rule(transform, rotate(-90deg),($mw1024: rotate(0deg)));
            }
            &:hover {
                .IdenaLanding-triangle {
                    transition: all 0.3s ease-in-out;
                    @include response-rule(transform, rotate(-90deg),($mw1024: translateX(-10px)));
                }
            }
        }
    }

    &-pointImage {
        @include response-rule(width, 100%,($mw1024: 328px));
        display: flex;
        &--security {
            @include response-rule(height, 104px,($mw1024: 130px));
            @include response-rule(justify-content, center,($mw1024: flex-end));
        }

        &--power {
            @include response-rule(height, 102px,($mw1024: 134px));
            @include response-rule(justify-content, center,($mw1024: flex-end));
        }

        &--wallet {
            @include response-rule(height, 155px,($mw1024: 200px));
            @include response-rule(justify-content, center,($mw1024: flex-start));
        }
        img {
            @include response-rule(width, 120px,($mw1024: 154px));
            height: 100%;
            border: none;
        }
    }

    &-pointText {
        @include response-rule(width, 100%,($mw1024: 328px));
        @include response-rule(text-align, center,($mw1024: unset));
        font-weight: 300;
        @include response-rule(font-size, 14px,($mw1024: 18px));
        @include response-rule(line-height, 17px,($mw1024: 22px));
        letter-spacing: 0.02em;
        color: $text;
    }

    &-triangle {
        position: relative;
        height: 22px;
        width: 22px;
        transition: all 0.3s ease-in-out;
        @include response-rule(margin, 15px 0px,($mw1024: 0 86px));
        @include response-rule(transform, rotate(90deg),($mw1024: rotate(0deg)));
    }

    &-link {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: $link;
        margin-top: 10px;
        cursor: pointer;
        &:hover {
            color: $link-hover;
        }
        background-size: 100%;
    }

    &-footer {
        margin-top: 100px;
        display: block;
    }
}