.card {
    width: 1056px;
    background-color: white;
    padding: 20px;
    margin: 0 0 50px 0;
    display: grid;
    justify-content: center;
    align-self: center;
    color: black;
    text-transform: uppercase;
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.01em;

    &-userInfo {
        width: 1016px;
        background-color: #091627;
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
    }

    &-avatarblock {
        margin-right: 20px;
        border-radius: 50%;

        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 1px solid #fbd526;
        }
    }

    &-fullname {
        color: #ffffff;
        display: flex;
    }

    &-uitems {
        color: #ffffff;
        display: flex;
        margin-top: 10px;
        align-items: center;
    }

    &-email {
        color: #a3acbd;
        text-transform: lowercase;
        font-size: 10px;
    }

    &-status {
        color: #a3acbd;
        font-size: 8px;
        margin-left: 10px;

        &--unconfirmed {
            border: 1px solid #a3acbd;
            padding: 3px;
            border-radius: 4px;
        }

        &--confirmed {
            color: #6bbfbb;
            border: 1px solid #6bbfbb;
            padding: 3px;
            border-radius: 4px;
        }
    }

    &-role {
        display: flex;
        align-items: center;

        &--default {
            color: #a3acbd;
            font-size: 8px;
            border: 1px solid #a3acbd;
            margin-top: 10px;
            padding: 3px;
        }
    }

    &-userblock {
        width: 370px;
        padding-top: 10px;
    }

    &-social {
        max-width: 600px;
        min-width: 500px;
        margin-left: 5px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: #a3acbd;
        font-size: 11px;

        &--other {
            margin-left: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 12px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid white;
        }
    }

    &-socialIcon {
        margin-left: 10px;
        display: flex;
        align-items: center;
        width: 40px;
        height: 40px;
        cursor: pointer;

        &:hover {
            ::ng-deep circle {
                stroke: yellow;
            }
            ::ng-deep path {
                stroke: yellow;
            }
            ::ng-deep line {
                stroke: yellow;
            }
            ::ng-deep polyline {
                stroke: yellow;
            }
        }
    }

    &-form {
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-svgicon {
        margin: 0 0 10px 15px;
        width: 40px;
        height: 40px;
        background: url("/assets/svg/form-icon-person.svg") no-repeat;
        background-color: #f3f4f6;
        background-size: 60%;
        background-position: 50% 50%;
        border-radius: 50%;
    }

    &-control {
        width: 240px;
        height: 50px;
        margin: 0 0 20px 15px;

        &:nth-child(2) {
            margin: 0 35px 20px 15px;
        }
    }

    &-middle {
        margin-top: 30px;
        overflow-y: auto;
        height: 255px;
    }

    &-secondLine {
        width: 1010px;
        display: flex;
        align-items: center;
        text-transform: none;
        line-height: normal;
        letter-spacing: normal;
        font-size: 12px;
        justify-content: space-between;
    }

    &-description {
        background-color: white;
        width: 220px;

        &--collapsed {
            display: block;
            overflow: hidden;
            width: 220px;
          }
    }

    &-thirdLine {
        display: flex;
        justify-content: flex-end;
        background-color: white;
        line-height: normal;
        letter-spacing: normal;
        font-size: 12px;
        align-items: center;
        text-transform: uppercase;
    }

    &-state {
        width: 350px;
        margin-right: 30px;
    }
}