<div class="card" *ngFor="let info of user; let indx = index">
    <div class="card-userInfo">
        <!--1я часть карточки пользователя с основной информацией-->
        <div class="card-avatarblock">
            <!--блок аватара-->
            <img src="{{info.avatar}}" alt="">
        </div>
        <div class="card-userblock">
            <!--блок имя/фамилия-->
            <div class="card-fullname">
                {{info.name}}
                {{info.soname}}
            </div>
            <div class="card-uitems">
                <!--блок items/элементов user'a-->
                <div class="card-email">
                    <!--таких как *email-->
                    {{info.email}}
                </div>
                <div class="card-status" ngSwitch="{{info.status}}">
                    <!--проверяем *статус "Подтверждено"-->
                    <div *ngSwitchCase="'false'" [ngClass]="'card-status--unconfirmed'">
                        Не подтверждено
                    </div>
                    <div *ngSwitchCase="'true'" [ngClass]="'card-status--confirmed'">
                        Подтверждено
                    </div>
                </div>
            </div>
            <div class="card-role">
                <!--*роль или "должность" пользователя-->
                <div class="card-role--default" *ngIf="info.role === 'admin'">
                    админ
                </div>
                <div class="card-role--default" *ngIf="info.role === 'teacher'">
                    ментор
                </div>
                <div class="card-role--default" *ngIf="info.role === 'student'">
                    ученик
                </div>
            </div>
        </div>
        <div class="card-social">
            связать аккаунт с соц. сетями:
            <!--блок социальных сетей-->
            <div class="card-socialIcon" *ngFor="let soc of socials" [inlineSVG]="soc.social">
            </div>
            <!--<div *ngFor="let soc of socials">
                {{ test(soc.name) }}
            </div>-->
        </div>
    </div>
    <div class="card-middle">
        <!--2я часть карточки пользователя -->
        <!--блок с описанием, input'ом имени и фамилии-->
        <div class="card-secondLine">
            <div class="card-description">
                <div class="card-description">
                    {{info.description}}
                </div>
            </div>

            <form class="card-form" #form="ngForm">
                <!--блок формы input'а-->
                <div class="card-svgicon"></div>
                <!--блок SVG иконки перед input'ом-->
                <idena-form-field class="card-control cards" label="{{forLableN}}" *ngIf="info.status === true">
                    <!-- если 'true'-->
                    <input type="text" [(ngModel)]="info.name" idenaInput name="info.name" required />
                </idena-form-field>
                <idena-form-field class="card-control cards" label="{{forLableN}}" *ngIf="info.status === false">
                    <!-- если 'false'-->
                    <input type="text" [(ngModel)]="info.name" idenaInput name="info.name" required disabled />
                </idena-form-field>
                <div class="card-svgicon"></div>
                <!--блок SVG иконки перед input'ом-->
                <idena-form-field class="card-control cards" label="{{forLableS}}" *ngIf="info.status === true">
                    <input type="text" [(ngModel)]="info.soname" idenaInput name="info.soname" required />
                </idena-form-field>
                <idena-form-field class="card-control cards" label="{{forLableS}}" *ngIf="info.status === false">
                    <input type="text" [(ngModel)]="info.soname" idenaInput name="info.soname" required disabled />
                </idena-form-field>
            </form>
        </div>
        <div class="card-thirdLine">
            <!--блок со статусом и кнопками редактирования email'a / пароля-->
            <div class="card-state">
                test status: {{ state(info.state) }}
            </div>
            <form class="card-form" #form="ngForm" *ngIf="info.status === true">
                <!--блок формы самих кнопок 'true'-->
                <idena-button class="primary Btn buttonCorr">
                    Изменить email
                </idena-button>
                <idena-button class="primary buttonCorr">
                    Изменить пароль
                </idena-button>
            </form>
            <form class="card-form" #form="ngForm" *ngIf="info.status === false">
                <!--блок формы кнопок при 'false'-->
                <idena-button class="primary buttonCorrDisabled">
                    Изменить email
                </idena-button>
            </form>
        </div>
        <form class="card-btn" #form="ngForm">
            <!--блок кнопки "сохранить"-->
            <idena-button class="primary buttonCor">
                Сохранить
            </idena-button>
        </form>
    </div>
</div>