<div class="SSwitcher">
  <div class="SSwitcher-items">
    <div 
      *ngFor="let opt of options;"
      class="SSwitcher-item"
      [ngClass]="{'SSwitcher-item--active': opt.value === activeSectionCode}"
      (click)="selectSection(opt)"
    >
      {{opt.label}}
    </div>
  </div>
</div>