@import "variables";
@import "mixins";

.SSwitcher {
  padding-bottom: 15px;

  &-items {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  &-item {
    position: relative; 
    cursor: pointer;
    @include response-rule(font-size, 12px, ($mw1024: 16px));
    @include response-rule(line-height, 15px, ($mw1024: 20px));
    font-weight: 500;
    color: #C2C4DA;
    text-transform: uppercase;

    &:not(:last-child) {
      @include response-rule(margin-right, 30px, ($mw1024: 50px));
    }
  }

  &-item--active {
    color: inherit;
    &:after {
        position: absolute;
        content: '';
        display: block;
        width: 100%;
        height: 5px;
        left: 0px;
        bottom: -15px;
        background: linear-gradient(99.2deg, #81B0EF 1.72%, #38D6D1 98.38%);;
    }
  }
}