@import "mixins";
@import "variables";

.Layout {
    width: 100%;
    @include response-rule(margin, 0 auto,($mw1024: 0));
    min-height: 100vh;
    position: relative;
    overflow: hidden;

    &-sidenav {
        @include response-rule(display, none,($mw1024: block));
        position: fixed;
        top: 0;
        left: 0;
    }

    &-mainContainer {
        width: 100%;
    }

    &-header {
        display: block;
        position: sticky;
        width: 100%;
        top: 0px;
        right: 0px;
        z-index: 999;
    }
    
    &-backgroundOpacity {
        @include response-rule(display, none,($mw1024: block));
        position: absolute;
        width: 1122.79px;
        height: 1075.7px;
        background-color: #F2F7FD;
        right: -889px;
        bottom: -528.7px;
        z-index: -1;
        border-radius: 35px;
        -webkit-transform: rotate(58deg);
        transform: rotate(58deg);
    }
}