/* You can add global styles to this file, and also import other style files */
@import "~normalize.css";
@import '~ngx-toastr/toastr';
@import '~@angular/material/theming';
@include cdk-overlay();
@import "./src/styles/main";

body {
    overflow-x: hidden;
}

body, input {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: $text;
}

* {
    box-sizing: border-box;
}

