@import "variables";
@import "mixins";

:host {
  display: block;
  width: 100%;
  @include response-rule(
    height,
    50px,
    (
      $mw1024: 70px,
    )
  );
}

.UIFormField {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid $control-default-border-color;
  border-left: none;
  border-radius: 2px;
  background-color: #fff;
  font-weight: normal;
  margin: 0px;
  @include response-rule(
    padding-left,
    15px,
    (
      $mw1024: 25px,
    )
  );
  transition: all 0.2s ease-in;

  &:before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 5px;
    border-radius: 2px;
    background-color: $control-default-divider;
    top: 0;
    left: 0;
    transition: all 0.2s ease-in;
  }

  &--labelUp {
    .UIFormField {
      &-label {
        top: 10px;
        @include response-rule(
          top,
          5px,
          (
            $mw1024: 10px,
          )
        );
        transform: translateY(0) scale(0.7) perspective(100px);
        width: auto;
      }
    }
  }

  &--disabled {
    pointer-events: none;
    border-color: #cddbe3 !important;
    background-color: #f6f6f9 !important;
    /deep/ input[idenaInput] {
      color: $control-valud-disabled-color !important;
    }
  }

  &--focused {
    border-color: $control-active-border-color;
    &:before {
      background-color: $control-active-divider;
    }
  }

  &--success {
    border-color: $control-active-border-color;
    &:before {
      background-color: $control-success-divider;
    }
  }

  &--error {
    border-color: $control-error-border-color;
    &:before {
      background-color: $control-error-divider;
    }
  }

  &-label {
    position: absolute;
    top: 50%;
    display: inline-block;
    padding-right: 10px;
    transform: translateY(-50%);
    color: $control-label-color;
    @include response-rule(
      font-size,
      14px,
      (
        $mw1024: 18px,
      )
    );
    font-weight: 300;
    margin: 0;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    transform-origin: left top;
    width: 100%;
    overflow: hidden !important;
    z-index: 2;
    cursor: pointer;
  }

  &-controlWrapper {
    flex-grow: 1;
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  &-control {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 3;
    font-size: 12px;
  }

  /deep/ input {
    background-color: transparent;
  }

  /deep/ input[idenaInput] {
    width: 100%;
    height: 100%;
    display: block;
    padding-right: 12px;
    @include response-rule(
      font-size,
      14px,
      (
        $mw1024: 18px,
      )
    );
    color: $control-value-color;
    background-color: transparent;
    border: none;
    outline: none;
    z-index: 2;
    transition: all 1.5s cubic-bezier(0.4, 0, 0.2, 1);
    @include placeholder-color(transparent);
  }

  /deep/ textarea[idenaInput] {
    width: 100%;
    height: 100%;
    padding: 0px;
    display: block;
    overflow: hidden;
    @include response-rule(
      font-size,
      14px,
      (
        $mw1024: 18px,
      )
    );
    color: $control-value-color;
    background-color: transparent;
    border: none;
    outline: none;
    z-index: 2;
    transition: all 1.5s cubic-bezier(0.4, 0, 0.2, 1);
    @include placeholder-color(transparent);
    resize: none;
  }
}

:host(.dark) {
  .UIFormField {
    background-color: transparent;
    border: 1px solid rgba(194, 196, 218, 0.5);
    color: white;
    &::before {
      background-color: rgba(194, 196, 218, 0.3);
    }

    &-label {
      color: $control-active-divider;
      font-weight: 300;
    }

    &--success {
      border-color: $control-active-border-color;
      &:before {
        background-color: $control-success-divider;
      }
    }

    &--error {
      border-color: $control-error-border-color;
      &:before {
        background-color: $control-error-divider;
      }
    }

    /deep/ input {
      color: white;
    }

    /deep/ textarea {
      color: white;
    }
  }
}

:host-context(.Receive-fild--address, .Send-fild) {
  .UIFormField {
    /deep/ textarea[idenaInput] {
      @include response-rule(
        line-height,
        17px,
        (
          $mw1024: 22px,
        )
      );
      @include response-rule(
        min-height,
        50px !important,
        (
          $mw1024: 70px !important,
        )
      );
      @include response-rule(
        padding,
        16px 15px 10px 0px,
        (
          $mw1024: 24px 15px 10px 0px,
        )
      );
      &:disabled {
        color: $control-valud-disabled-color;
      }
    }
  }
}

:host(.head) {
  .UIFormField {
    border: 1px solid rgba(56, 0, 70, 0.3);

    &-label {
      color: rgb(255, 255, 255);
    }

    &::before {
      background-color: rgba(56, 0, 70, 0.3);
    }
    
    &--labelUp {
      border: 1px solid rgba(132, 0, 255, 0.5);

      .UIFormField {

        &-label {
          top: 5px;
          color: rgb(0, 0, 0);
        }
      }
    }
  }
}

:host(.cards) {

  .UIFormField {
    padding-left: 0px;
    border: none;
    border-bottom: 1px solid #6bbfbb;

    &-label {
      color: #091627;
    }

    &::before {
      background-color: rgba(255, 255, 255, 0.3);
    }

    &--labelUp {
      border-bottom: 1px solid #6bbfbb;

      .UIFormField {

        &-label {
          top: 5px;
          color: #6bbfbb;
        }
      }
    }
    
    /deep/ input {
      color: #192f4d;
      padding: 12px 0 0 0;
      font-size: 14px;
    }
  }
}