<label class="UIFormField" [ngClass]="{ 
  'UIFormField--labelUp': states.isInited && (!control.empty || control.focused),
  'UIFormField--success': control.valid  && !control.empty,
  'UIFormField--focused': control.focused,
  'UIFormField--error': states.isSubmitted && control.errorState,
  'UIFormField--disabled': control.disabled
}">
  <div class="UIFormField-controlWrapper">
    <div class="UIFormField-label">
      {{ label }}
    </div>
    <div class="UIFormField-control">
      <ng-content></ng-content>
    </div>
  </div>
  <span class="UIFormField-marker"></span>
</label>
<form-field-error *ngIf="!noValidationMessages" class="FormFieldErrors" [customValidationMessages]="customValidationMessages"></form-field-error>
